
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f3f8;
  font-family: Sans-serif, Verdana;
}


h2 {
  color: #424141;
  font-weight: 600;
  text-align: center;
}

.table {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.table th,
.table td {
  vertical-align: middle;
}
