
body {
  background-color: #f1f3f8;
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}


h2 {
  color: #424141;
  font-weight: 600;
  text-align: center;
}


label {
  color: #444;
  font-size: 15px;
}


.btn-primary {
  background-color: #6f42c1;
  border-color: #6f42c1;
  width: 100%;
}

.btn-primary:hover {
  background-color: #5936a8;
  border-color: #5936a8;
}


.formulario {
  max-width: 500px;
  margin: 0 auto;
}


.quadro-branco {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 0 0 transparent;
  max-width: 500px;
  margin: 50px auto;
}

.quadro-grande {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 0 0 transparent;
  max-width: 900px;
  margin: 70px auto;
}


address {
  margin-top: 40px;
  text-align: center;
  color: #777;
  font-style: normal;
  font-size: 14px;
}
