body {
  background-color: #d9dbdf;
  font-family: Sans-serif, Verdana;
}

.quadro-branco {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  max-width: 500px;
  margin: 70px auto;
}

.formulario{
  margin: 0 auto;
}

h2 {
  color: #424141;
  font-weight: 600;
  text-align: center;
}

label {
  color: #444;
  font-size: 15px;
}


.btn-primary {
  background-color: #6f42c1;
  border-color: #6f42c1;
  width: 100%;
}

.btn-primary:hover {
  background-color: #5936a8;
  border-color: #5936a8;
}
